.email-body{
    width: 150%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    border: 1px solid #cfd2dc;
    padding: 1rem;
    border-radius: 8px;
}

.body-profile{
    display: flex;
    justify-content: space-between;
}

.body-btn{
    border: none;
    background-color: #e54065;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
}

.body-btn:hover{
    background-color: #ff0138;
}

.body-content{
    display: flex;
    gap: 1rem;
}

.body-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-body-content{
    line-height: 2;
}

@media only screen and (max-width: 912px){
    .email-body{
        width: auto;
    }
}